<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>¡Pégale al Topo!</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <h1>¡Pégale al Topo!</h1>
  <h2>Tu Puntuación: <span id="score">0</span></h2>
  <h2>Tiempo Restante: <span id="time-left">60</span></h2>

  <div class="grid">
    <div class="hole"><div class="mole normal"></div></div>
    <div class="hole"><div class="mole normal"></div></div>
    <div class="hole"><div class="mole normal"></div></div>
    <div class="hole"><div class="mole normal"></div></div>
    <div class="hole"><div class="mole normal"></div></div>
    <div class="hole"><div class="mole normal"></div></div>
    <div class="hole"><div class="mole normal"></div></div>
    <div class="hole"><div class="mole normal"></div></div>
  </div>

  <script src="/JS/game.js"></script>
</body>
</html>